.ellipsis {
  overflow: hidden;
}

.ellipsis > * {
  /* 3 puntos a los enlaces que se desbordan del nav */
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}