.header {
  display: flex;
  gap: 1rem;
  padding-inline-start: 1.5rem;
  padding-inline-end: -1.5rem;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  align-items: center;
  background: var(--gray50);
  /* backdrop-filter: blur(7.5px); */
}

@supports not (backdrop-filter: blur(5px)) {
  .header {
    backdrop-filter: var(--gray50);
  }
}