.playlistA {
  inline-size: 11.375rem;
  /* padding: .75rem; */
  padding: 1rem;
  border-radius: .5rem;
  background: var(--gray40);
  box-sizing: border-box;
}

.playlistA:hover, .playlistA:focus-within {
  background: var(--gray30);
  cursor: pointer;
  transition: .3s background;
}

.playlistA img {
  vertical-align: middle;
  inline-size: 100%;
  block-size: auto;
}

.playlistA-cover {
  position: relative;
  border-radius: .75rem;
  margin-block-end: .75rem;
  /* overflow: hidden; */
}

.playlistA button {
  position: absolute;
  right: .5rem;
  bottom: .5rem;
  opacity: 0;
  transform: translateY(.25rem);
  will-change: opacity, transform;
  transition: .3s opacity, .3s transform;
}

.playlistA:hover .playlistA-cover button, 
.playlistA:focus-within .playlistA-cover button {
  opacity: 1;
  transform: translateY(0);
}

.playlistA-title {
  font: var(--basefont-bold);
  font-size: 1.2rem;
  color: var(--white);
  margin: 0;
  margin-block-end: .25rem;
}

.playlistA-description {
  font: var(--basefont-normal);
  margin: 0;
  inline-size: 9.375rem;
  line-height: 1rem;
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-block-end: .25rem;
}