.playerPlayback {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.playerPlayback-slider {
  /* flex: 1; */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.playerPlayback-progresTime {
  line-height: 1;
  font: var(--basefont-normal);
}