::-webkit-scrollbar {
  inline-size: .5rem;
  block-size: .5rem;
  background: none;
}

::-webkit-scrollbar-button {
  background: none;
  inline-size: 0;
}

::-webkit-scrollbar-thumb {
  background: var(--gray30);
  border-radius: 2rem;
}